*{
    margin: 0;
    padding: 0;
}

body{
    background: hsla(220, 88%, 90%, 0.787);
    background: linear-gradient(to right, rgba(173, 214, 255, 0.877), #33aeff);
    -webkit-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#cont-edit{
    margin-top: 100px;
    padding: 40px;
}

#cont-index{
    margin-top: 50px;
    border-radius: 1rem; 
}

#footer-ul{
    background: rgba(2,2,2,0.842);
    padding: 14px;
}

h1, h3, h5, h6{
    font-size: 21px !important;
    color: rgba(22,22,22) !important;
    font-weight: bold !important;
    font-family: cursive;
}

a{
    font-size: 20px !important;
}

img {
    width: 80%;
}
.col-md-4{
    margin-bottom: 20px;
}